@import url('https://fonts.googleapis.com/css?family=PT+Serif&display=swap');

#navbar {
	overflow: hidden;
	background-color: #ef92a3;
	position: -webkit-sticky;
	position: sticky;
	z-index: 1;
	top: 0;
	color:#8ad5a7;
	font-family: 'PT Serif', serif;
	
  }
  
  /* Navbar links */
  #navbar a {
	float: left;
	display: block;
	color: white;
	text-align: center;
	padding: 14px;
	text-decoration: none;
	font-family: sans-serif;
	text-transform: uppercase;
	
  }
  #navbar a:hover {
	  color:#aa93cd;
	  cursor: pointer;
  }
  
.container{
	margin-left:5%;
	margin-right:5%;
  
}
@media (max-width: 400px) {
	#navbar {
		overflow: hidden;
		background-color: #ef92a3;
		position: -webkit-sticky;
		position: sticky;
		z-index: 1;
		top: 0;
		color:#8ad5a7;
		font-family: 'PT Serif', serif;
		font-size: 9px;
		
	  }


}