@import url('https://fonts.googleapis.com/css?family=Dosis:400,700&display=swap');

.skillsMe{
    padding-top: 2rem;
    padding-bottom: 2rem; 

}
.skills{
    padding-bottom: 2rem;
    margin-top: 1rem;
}
.sk{
    font-family: 'Dosis', sans-serif;
    font-style:bold;
    text-transform: uppercase;
    color:  #8ad5a7;
    font-size: 40px;
   
 
    

}


.fa-react {
    content:'\f41b';
    font-size: 60px;
    color:#f36d77;
    padding-bottom: 60px;

}

.fa-bootstrap {
    content:'\f41b';
    font-size: 60px;
    color:#f36d77;
    padding-bottom: 60px;
    
}

.fa-github {
    content:'\f41b';
    font-size: 60px;
    color:#f36d77;
    padding-bottom: 60px;
    
}

.fa-js {
    content:'\f41b';
    font-size: 60px;
    color:#f36d77;
    
}

.fa-css3-alt {
    content:'\f41b';
    font-size: 60px;
    color:#f36d77;
    
}

.fa-html5 {
    content:'\f41b';
    font-size: 60px;
    color:#f36d77;
    
}



.col-4{
    text-align: center;
    
}


.logos{
    margin-top: 3rem;
    margin-bottom: 5rem;
    align-content: center;
}
.react{
    width: 10rem;
    height: auto;
    margin-right: 5rem;
}
.boost{
    width: 8rem;
    height: auto;
    margin-right: 5rem;

}
 .js{
    width: 8rem;
    height: auto;

} 
@media screen and (max-width: 767px) {
.sk{
    text-align: center;
}
}

@media (max-width: 400px) {
    
.skillsMe{
    padding-top: 3rem;
    padding-bottom: 5rem; 
    margin-bottom: 5rem;

}
    .react{
        width: 4rem;
        height: auto;
        margin-right:10px ;
       
    }
    .boost{
        width: 3rem;
        height: auto;
        margin-right:10px ;
    
    }
    .js{
        width: 3rem;
        height: auto;
        margin-right:10px ;
    
    }
    .title{
        width: 100%;
    } 

    .sk{
        text-align: center;
    }
    
}
