
.works{
  margin-bottom: 10rem;
  margin-top:2rem;

}

.wk{
    font-family: 'Dosis', sans-serif;
    font-style:bold;
    text-transform: uppercase;
    color:  #8ad5a7;
    font-size: 40px;
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.atacama{
  position: relative;
  height: 50%;
}
.cardBox {
  float: left;
  font-size: 1.2em;
  margin: 1% 0 0 1%;
  perspective: 800px;
  transition: all 0.3s ease 0s;
  width: 23.7%;
  
}

.cardBox:hover .card {
  transform: rotateY( 180deg);
}

.card {
  background: #222;
  background-color: #493240;
  cursor: default;
  height: 300px;
  transform-style: preserve-3d;
  transition: transform 0.4s ease 0s;
  width: 80%;
  -webkit-animation: giro 1s 1;
  animation: giro 1s 1;
}

.card p {
  margin-bottom: 1.8em;
}

.card .front,
.card .back {
  backface-visibility: hidden;
  box-sizing: border-box;
  color: white;
  display: block;
  font-size: 1.2em;
  height: 100%;
  padding: 0.8em;
  position: absolute;
  text-align: center;
  width: 100%;
}

.card .front strong {
  background: #fff;
  border-radius: 100%;
  color: #222;
  font-size: 1.5em;
  line-height: 30px;
  padding: 0 7px 4px 6px;
}

.card .back {
  transform: rotateY( 180deg);
}

.card .back a {
  padding: 0.3em 0.5em;
  background: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 1px;
  font-size: 0.9em;
  transition: all 0.2s ease 0s;
}

.card .back a:hover {
  background: #fff;
  color: #333;
  text-shadow: 0 0 1px #333;
}

.cardBox:nth-child(1) .card .back {
  background-color:#aa93cd;
  background-size:cover;
}
.cardBox:nth-child(1) .card .front {
  background-image:url("https://i.ibb.co/jDL9WWh/card1.png");
  background-size:cover;
  
  
}

.cardBox:nth-child(2) .card .back {
  background-color:#f36d77;
  background-size:cover;
}
.cardBox:nth-child(2) .card .front {
  background-image:url("https://i.ibb.co/9rrhC98/card3.png");
  background-size: auto;
  
  
 
}
.cardBox:nth-child(3) .card .back {
  background-color:#aa93cd;
  background-size: auto;
}
.cardBox:nth-child(3) .card .front {
  
  background-image:url("https://i.ibb.co/6FBTVgH/card4.png");
  background-size: cover;
  
}

.cardBox:nth-child(4) .card .back {
  background-color:#f36d77;
  
  background-size:cover;
}
.cardBox:nth-child(4) .card .front {
  background-image:url("https://i.ibb.co/CH2VPCN/card2.png");
  background-size:cover;
}
.cardBox:nth-child(2) .card {
  -webkit-animation: giro 1.5s 1;
  animation: giro 1.5s 1;
}

.cardBox:nth-child(3) .card {
  -webkit-animation: giro 2s 1;
  animation: giro 2s 1;
}

.cardBox:nth-child(4) .card {
  -webkit-animation: giro 2.5s 1;
  animation: giro 2.5s 1;
}

@-webkit-keyframes giro {
  from {
    transform: rotateY( 180deg);
  }
  to {
    transform: rotateY( 0deg);
  }
}

@keyframes giro {
  from {
    transform: rotateY( 180deg);
  }
  to {
    transform: rotateY( 0deg);
  }
}

@media screen and (max-width: 767px) {
  .cardBox {
    margin-left: 6%;
    margin-top: 3%;
    width: 40%;
  }
  .card {
    height: 285px;
  }
  .cardBox:last-child {
    margin-bottom: 3%;
  }
  .wk{
    text-align: center;

}

}

@media screen and (max-width: 480px) {
  .cardBox {
    width: 80%;
    margin-left: 3.5rem;
    
  }
  .card {
    height: 260px;
    
  }

  .wk{
    text-align: center;

}
.works{
  margin-bottom: 5rem;
  margin-top:3rem;
  

}
}